@import "tailwindcss";
@import "pagy.tailwind";

@theme{
  --font-open-sans: Open-sans, sans-serif;
  --font-pacifico: Pacifico, cursive;
  --font-dosis: Dosis, sans-serif;
  --color-primary-500: #337ab7;
}

